@model IEnumerable<DataLayer.CompareItem>
@{
    ViewBag.Title = "مقایسه محصولات";
    Layout = "~/Views/Shared/_DefualtLayout.cshtml";
    List<DataLayer.Features> features = ViewBag.Features;
    List<DataLayer.Product_Features> product_Features = ViewBag.ProductFeatures;
}

<div class="compare-page">

    <h6> مقایسه محصولات </h6>
    <div class="products-list">

        <div class="col-md-3 col-sm-3 hidden-xs subject-list">

            <div>
                <p>تصویر</p>
                <p> عنوان :</p>
                @foreach (var item in features)
                {
                    <p>@item.FeatureTitle</p>
                }
            </div>

        </div>


        <div class="col-md-9 col-sm-9 col-xs-12 compare-product-list">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div>

                        <a href=""><img style="height:104px;" class="thumbnail" src="/Images/ProductImages/Thumbnail/@item.ImageName"></a>
                        <h2> @item.Title </h2>

                        @foreach (var subitem in product_Features.Take(1))
                        {
                            foreach (var sub in features)
                            {

                                <p><label> </label> <span> @string.Join(",", product_Features.Where(f => f.ProductID == item.ProductID && f.FeatureID == sub.FeatureID).Select(f=>f.Value).ToList())</span></p>
                            }
                        }
                        </div>
                </div>
            }
            <div class="clearfix"></div>

        </div>



        <div class="row"></div>

    </div>

</div>
