@model DataLayer.Users
<body dir="rtl">
    <div>
        <div>
            <h1>ایمیل بازیابی رمز عبور</h1>
        </div>
        <div class="content">
            <h1>@Model.UserName عزیز</h1>
            <p>کاربر گرامی برای بازیابی رمز عبور حساب خود روی لینک زیر کلیک کنید</p>
            <a href="https://@System.Configuration.ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPass/@Model.ActiveCode" class="button">بازیابی رمز عبور</a>
        </div>
        <div>
            <p>تمامی حقوق محفوظ است. © 2023</p>
        </div>
    </div>
</body>
