@{
    ViewBag.Title = "ActiveUser";
}

<div class="alert alert-success text-center">

    <h2>@ViewBag.UserName گرامی</h2>

    <br />
    <p>حساب کاربری شما با موفقیت فعال شد و از طریق لینک زیر میتوانید وارد سایت شوید</p>
    <br />
    <a class="btn btn-link" href="/Login">ورود</a>


</div>

