
@{
    ViewBag.Title = "SuccessedRecoveryPass";
}

<div class="alert alert-success col-md-8">


    <h2>کاربر عزیز @Model.UserName رمز عبور شما با موفقیت بازگردانی شد</h2>

    <h2>ایمیلی حاوی کد بازیابی به ایمیل @Model.Email ارسال شد </h2>

</div>



