@model IEnumerable<DataLayer.Products>
@{
    ViewBag.Title = "Index";
}

<section class="last-products">
    <header><h2>(@Model.Count()) نتیجه با عنوان (@ViewBag.Search) یافت شد</h2></header>
    <article>

        @foreach (var item in Model)
        {
            @Html.Partial("_product", item)
        }

        <div class="clearfix"></div>
    </article>
</section>
